<html>
<head>
    <style>
        #listphoto {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }

        /* go to top button css*/

        #gototop {
            display: block;
            position: fixed;
            bottom: 20px;
            right: 30px;
            z-index: 99;
            font-size: 18px;
            border: none;
            outline: none;
            background-color: #030052;
            color: white;
            cursor: pointer;
            padding: 15px;
            border-radius: 4px;
        }

        #gototop:hover {
            background-color: #555;
        }

    </style>
    <script>

        /* this is show photo function */

        function showphoto(x) {
            let i;
            document.getElementById("showmore").style.display = "block";
            document.getElementById("mixphotomessage").style.display = "none";
            document.getElementById("showmore").onclick = function() {showmore(x)};
            for (i = 1; i > 0; i++) {
                var id = document.getElementById("photo" + i);
                if (id != null) {
                    if (i <= x) {
                        id.style.display = "block";
                    } else if (i >= x + 1) {
                        id.style.display = "none";
                    }
                } else {
                    break;
                }
            }
        }

        function showallphoto() {
            let i = 1;
            document.getElementById("showmore").style.display = "none";
            while (i > 0) {
                var id = document.getElementById("photo" + i);
                i += 1;
                if (id != null) {
                    id.style.display = "block";
                } else {
                    break;
                }
            }
        }

        /*end*/

        /* this is show more function*/
        //If you set in the above function to display "x" photos then you can show "x" more photos by this function.//

        function showmore(x) {
            var i;
            var photo = [];
            for (i = 1; photo.length < x; i++) {
                var id = document.getElementById("photo" + i);
                if (id != null) {
                    if (id.style.display === "block") {
                        continue;
                    } else if (id.style.display === "none") {
                        photo.push(i);
                        id.style.display = "block";
                    }
                } else {
                    document.getElementById("showmore").style.display = "none";
                    document.getElementById("mixphotomessage").style.display = "block";
                    break;
                }
            }
            document.getElementById("photo" + photo[0]).scrollIntoView();
        }

        /*end*/

        /* this is go to top function */

        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }

        /*end*/

    </script>
</head>
<body>
{% block app_content %}
    <div class="page-header" xmlns="http://www.w3.org/1999/html">
        <h1> Images</h1>
        <br>
    </div>

    <!--This is th latest gototop button and function-->

    <button onclick="topFunction()" id="gototop" title="Go to top">Top</button>

    <!--This is the latest button and onclick function-->

    <div id="listphoto">
        <button id="show10" onclick="showphoto(10);">10</button> <!-- show 10 photo -->
        <button id="show20" onclick="showphoto(20);">20</button>
        <button id="show50" onclick="showphoto(50);">50</button>

        <!--     <button id="showN" onclick="showphoto(N);">N</button>     -->
        <!-- change N to how many photo you want to show -->

        <button id="showall" onclick="showallphoto();">ALL</button>
    </div>

    {% if photo != {} %}
        <div class="container-fluid" style="width: 100%">
            <div class="col-md-12" style="height:350px">
                {% for photo in photos %}

                    <div id="photo{{ loop.index }}" class="col-md-3" style="display:block;">
                        <!-- added new id and style in this div -->

                        <img src="{{ photo_dict[photo]['gcs_public_url'] }}"
                             style="display:block; margin-right: auto;margin-left: auto" height="300px" width="300px">
                        <div style="margin-left: auto;margin-right: auto;width: 20em;text-align: center;height:50px">
                            Photo Number : {{ loop.index }}<br>
                            {% if 'row_label' in photo_dict[photo] %}
                                {{ photo_dict[photo]['row_label'] }}<br>
                            {% endif %}
                            {% if photo_dict[photo]['edit_row_label'] == true %}
                                <input type="checkbox" name="images_selected"
                                       value="{{ photo_dict[photo]['photo_filename'],photo_dict[photo]['post_id'] }}">
                            {% endif %}
                            {{ photo_dict[photo]['time_utc'] }}
                            <a href="{{ photo_dict[photo]['post_url'] }}" class="glyphicon glyphicon-new-window"
                               target="_blank"></a>
                        </div>
                        <hr>
                    </div>
                {% endfor %}
                <button id="showmore" style="position: absolute; left: 50%; display: none;">More</button>
                <p id="mixphotomessage" style="text-align: center; display: none;">There are no more photos!</p>
                <br><br>
            </div>
        </div>
    {% endif %}
{% endblock %}
</body>
</html>